@model EADproject.Models.Video
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var s = ViewBag.list;
    var u = ViewBag.us;
}



    @*<video src="@Model .mp4"
           
           ></video>*@

@*<p> value : @Model.Name </p>*@

@*@if(@Model.Name.Substring(@Model.Name.Length-4).Equals(".mp4"))*@

<label> @Model.Name</label><br />
<video controls="controls" height="400" autoplay>
    <source src="~/upload/@Model.Name" type="video/mp4" />
    <source src="~/upload/@Model.Name" type="audio/mp3" />
</video>


 
    
      @*<video controls="controls" height="400" autoplay >
        <source src="~/upload/minions.mp4" type="video/mp4"  />
    </video>*@



















    @*@*<source src="@Url.Action("Play", "Home", "/App_Data/upload/Hands in the Air")" type="video/mp4" />*
    </video>*@
